<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Properties</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                            </li>

                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> {{this.headerName}} Property</a>
                            </li>

                        </ol>
                    </nav>
                </div>

                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="gotoBack()"> List </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" card mb-4">
        <div class=" card-header">
            <h3 class=" mb-0"> {{this.headerName}} Property </h3>
        </div>

        <form [formGroup]="editPropertyForm" (ngSubmit)="uploadImage()">
            <div class=" card-body">

                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input1">
                                Property Name
                            </label>
                            <input [readOnly]="showView" class=" form-control" id="input1" placeholder="Property Name"
                                type="text" formControlName="propertyName" />
                            <small *ngIf="f['propertyName'].touched && f['propertyName'].errors">Required</small>

                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input2">
                                Company Name
                            </label>

                            <input [readOnly]="showView" class=" form-control" id="input2" placeholder=" Company Name"
                                type="text" formControlName="companyName" />
                            <small *ngIf="f['companyName'].touched && f['companyName'].errors">Required</small>

                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input3">
                                Rera No
                            </label>

                            <input [readOnly]="showView" class=" form-control" id="input3" placeholder=" Rera No"
                                type="text" formControlName="reraNumber" />
                            <small *ngIf="f['reraNumber'].touched && f['reraNumber'].errors">Required</small>

                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input4">
                                Guideline Value
                            </label>

                            <input [readOnly]="showView" class=" form-control" id="input4" placeholder="Guideline Value"
                                type="text" formControlName="guidelineValue" />
                            <small *ngIf="f['guidelineValue'].touched && f['guidelineValue'].errors">Required</small>

                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input5">
                                Property Type
                            </label>
                            <select formControlName="propertyType" class=" form-control" placeholder=" Property Type"
                                id="input5">
                                <option value="">Selec Property Type</option>
                                <option value="PLOT">Plot</option>
                                <option value="FLAT">Flat</option>
                                <option value="COMMERCIAL">Commercial</option>
                            </select>
                            <small *ngIf="f['propertyType'].touched && f['propertyType'].errors">Required</small>
                            <!-- <input class=" form-control" id="input5" placeholder=" Property Type" type="text" /> -->
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input6">
                                Total Plots
                            </label>

                            <input [readOnly]="showView" class=" form-control" id="input6" placeholder="Total Plots"
                                type="text" formControlName="totalPlots" />
                            <small *ngIf="f['totalPlots'].touched && f['totalPlots'].errors">Required</small>

                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input7">
                                Property Poc
                            </label>

                            <input [readOnly]="showView" class=" form-control" id="input7" placeholder="Property Poc"
                                type="text" formControlName="poc" />
                            <small *ngIf="f['poc'].touched && f['poc'].errors">Required</small>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input8">
                                Mobile
                            </label>

                            <input [readOnly]="showView" onlyNumber class=" form-control" id="input8"
                                placeholder="Mobile" type="tel" maxlength="10" formControlName="mobile" />
                            <small *ngIf="f['mobile'].touched && f['mobile'].errors">Required</small>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input9">
                                Amenities
                            </label>

                            <input [readOnly]="showView" class=" form-control" id="input9" placeholder="Amenities"
                                type="text" formControlName="amenities" />
                            <small *ngIf="f['amenities'].touched && f['amenities'].errors">Required</small>
                        </div>
                    </div>

                    <!-- <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input10">
                                Status
                            </label>

                            <input [readOnly]="showView" class=" form-control" id="input10" placeholder="Status"
                                type="text" formControlName="status" />
                            <small *ngIf="f['status'].touched && f['status'].errors">Required</small>
                        </div>
                    </div> -->
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input10">
                                Status
                            </label>
                            <select formControlName="status" class=" form-control" placeholder="Status"
                                id="input10">
                                <option value="">Selec Property Type</option>
                                <option value="Ready to occupy">Ready to occupy</option>
                                <option value="Under construction ">Under construction </option>
                                <option value="Permission granted">Permission granted</option>
                            </select>
                            <small *ngIf="f['status'].touched && f['status'].errors">Required</small>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="example-date-input">
                                Start Date
                            </label>

                            <input [readOnly]="showView" formControlName="startDate" type="text"
                                placeholder="   Start Date" class="form-control" bsDatepicker [bsValue]="bsValue"
                                [bsConfig]="{
                          isAnimated: true,
                          containerClass: 'theme-red'
                        }" />
                            <small *ngIf="f['startDate'].touched && f['startDate'].errors">Required</small>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="example-date-input2">
                                Extension Date
                            </label>

                            <input [readOnly]="showView" type="text" placeholder=" Extension Date" class="form-control"
                                bsDatepicker [bsValue]="bsValue1" [bsConfig]="{
                          isAnimated: true,
                          containerClass: 'theme-red'
                        }" formControlName="extensionDate" />
                            <small *ngIf="f['extensionDate'].touched && f['extensionDate'].errors">Required</small>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input11">
                                Property Description
                            </label>

                            <input [readOnly]="showView" formControlName="propertyDescription" class=" form-control"
                                id="input11" placeholder="Property Description" type="text" />
                        </div>
                    </div>

                    <div class=" col-md-6">

                    </div>
                </div>
                <div formGroupName="address">

                    <div class=" row">
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input12">
                                    Address
                                </label>

                                <input [readOnly]="showView" class=" form-control" id="input12" placeholder="Address"
                                    type="text" formControlName="village" />
                                <small *ngIf="g['village'].touched && g['village'].errors">Required</small>

                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input13">
                                    State
                                </label>

                                <input [readOnly]="showView" class=" form-control" id="input13" placeholder="State"
                                    type="text" formControlName="state" />
                                <small *ngIf="g['state'].touched && g['state'].errors">Required</small>

                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input14">
                                    District
                                </label>

                                <input [readOnly]="showView" class=" form-control" id="input14" placeholder="District"
                                    formControlName="district" type="text" />
                                <small *ngIf="g['district'].touched && g['district'].errors">Required</small>

                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input15">
                                    Directions
                                </label>

                                <input [readOnly]="showView" class=" form-control" id="input15" placeholder="Directions"
                                    type="text" formControlName="directions" />
                                <small *ngIf="g['directions'].touched && g['directions'].errors">Required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input16">
                                File Upload
                            </label>
                            <div class=" custom-file">
                                <input class=" custom-file-input" id="customFileLang" lang="en" type="file"
                                    (change)="onFileSelected($event)" />

                                <label class=" custom-file-label" for="customFileLang">
                                    Select file
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-md-1" *ngIf="selectedFile">
                        <img [src]="url" height="200"> <br />
                    </div>
                    <div class="col-md-6 px-md-1" *ngIf="!selectedFile && this.propertydata.propertyMap">
                        <img src="{{getImagePath(this.propertydata.propertyMap)}}" height="200"> <br />
                    </div>
                </div>


            </div>
            <div class=" card-footer">
                <button class=" btn btn-fill btn-success" type="submit"
                    [disabled]="this.editPropertyForm.invalid">{{this.headerName}}</button>
                <button class=" btn btn-fill btn-danger" type="button" (click)="gotoBack()">Cancel</button>
            </div>
        </form>
    </div>


</div>