<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Employees</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                            </li>

                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> {{this.headerName}} Employee</a>
                            </li>

                        </ol>
                    </nav>
                </div>

                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="gotoBack()"> List </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" card mb-4">
        <div class=" card-header">
            <h3 class=" mb-0"> {{this.headerName}} Employee </h3>
        </div>

        <form [formGroup]="editEmployeeForm" (ngSubmit)="updateEmployee()" *ngIf="editEmployeeForm.valid">
            <div class=" card-body">

                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input1">
                                Employee Name
                            </label>
                            <input class=" form-control" id="input1" placeholder="Employee Name" type="text"
                                formControlName="name" />
                            <small *ngIf="f['name'].touched && f['name'].errors">Required</small>

                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input2">
                                Email
                            </label>

                            <input class=" form-control" id="input2" placeholder=" Email" type="email"
                                formControlName="email" />
                            <small *ngIf="f['email'].touched && f['email'].errors">Required</small>

                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input8">
                                Mobile
                            </label>

                            <input onlyNumber class=" form-control" id="input8" placeholder="Mobile" type="tel"
                                maxlength="10" formControlName="mobile" />
                            <small *ngIf="f['mobile'].touched && f['mobile'].errors">Required</small>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input4">
                                Aadhar Number
                            </label>

                            <input class=" form-control" id="input4" placeholder="aadharNumber" type="text" maxlength="12"
                                formControlName="aadharNumber" />
                            <small *ngIf="f['aadharNumber'].touched && f['aadharNumber'].errors">Required</small>

                        </div>
                    </div>
                </div>
                
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input4">
                                Pancard Number
                            </label>

                            <input class=" form-control" id="input4" placeholder="pancardNumber" type="text" maxlength="10"
                                formControlName="pancardNumber" />
                            <small *ngIf="f['pancardNumber'].touched && f['pancardNumber'].errors">Required</small>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input6">
                                username
                            </label>

                            <input class=" form-control" id="input6" placeholder="username" type="text"
                                formControlName="username" />
                            <small *ngIf="f['username'].touched && f['username'].errors">Required</small>

                        </div>
                    </div>
                   
                  
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input5">
                                Department
                            </label>
                            <select formControlName="department" class=" form-control" (change)="getAllRolesByDepartment();" placeholder=" department"
                                id="input5">
                                <option value="">Selec Department</option>
                                <option value="Finance">Finance</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Sales">Sales</option>
                                <option value="HR">HR</option>
                                
                            </select>
                            <small *ngIf="f['department'].touched && f['department'].errors">Required</small>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input5">
                                Role
                            </label>
                            <select class=" form-control" formControlName="roleId"  placeholder=" Role" (change)="onRoleChange($event)"
                                id="input5">
                                <option *ngFor="let role of roles" [value]="role.id">{{role?.roleName}}</option>
                               
                            </select>
                            <small *ngIf="f['roleId'].touched && f['roleId'].errors">Required</small>
                        </div>
                    </div>
                </div>
                <div formGroupName="address">
                    <div class=" row">
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input12">
                                    Address
                                </label>

                                <input class=" form-control" id="input12" placeholder="Address" type="text"
                                    formControlName="houseNo" />
                                <small *ngIf="g['houseNo'].touched && g['houseNo'].errors">Required</small>


                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input13">
                                    City
                                </label>

                                <input class=" form-control" id="input13" placeholder="City" type="text"
                                    formControlName="village" />
                                <small *ngIf="g['village'].touched && g['village'].errors">Required</small>


                            </div>
                        </div>


                    </div>
                    <div class=" row">
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input19">
                                    State
                                </label>

                                <input class=" form-control" id="input19" placeholder="State" type="text"
                                    formControlName="state" />
                                <small *ngIf="g['state'].touched && g['state'].errors">Required</small>

                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input14">
                                    District
                                </label>

                                <input class=" form-control" id="input14" placeholder="District" type="text"
                                    formControlName="district" />
                                <small *ngIf="g['district'].touched && g['district'].errors">Required</small>

                            </div>
                        </div>

                    </div>
                    <div class=" row">
                        <div class=" col-md-6">
                            <div class=" form-group">
                                <label class=" form-control-label" for="input15">
                                    Pin Code
                                </label>

                                <input onlyNumber class=" form-control" id="input15" placeholder=" Pin Code" type="tel"
                                    maxlength="6" formControlName="pincode" />
                                <small *ngIf="g['pincode'].touched && g['pincode'].errors">Required</small>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-4">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input16">
                             Aadhar File Upload <small>(allow only .jpg, .png, .jpeg)</small>
                            </label>
                            <div class=" custom-file">
                                <input class=" custom-file-input" id="customFileLang" lang="en" type="file"
                                    (change)="onAadharFileSelected($event)" />
                                <label class=" custom-file-label" for="customFileLang">
                                    Select file
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 px-md-1" style="margin-top: 2rem;">
                        <button class=" btn btn-fill btn-primary" type="button" [disabled]="!selectedAadharFile" (click)="uploadAadharImage()">Upload</button>
                    </div>
                    <div class="col-md-6 px-md-1"  *ngIf="selectedAadharFile">
                        <img [src]="aadharUrl" height="200"> <br />
                    </div>
                    <div class="col-md-6 px-md-1" *ngIf="!selectedAadharFile && this.employeeData.aadharFilePath">
                        <img src="{{getAadharImagePath(this.employeeData.aadharFilePath)}}" height="200"> <br />
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-4">
                        <div class=" form-group">
                            <label class=" form-control-label" for="input16">
                             Pan card File Upload <small>(allow only .jpg, .png, .jpeg)</small>
                            </label>
                            <div class=" custom-file">
                                <input class=" custom-file-input" id="customFileLang" lang="en" type="file"
                                    (change)="onPancardFileSelected($event)" />
                                <label class=" custom-file-label" for="customFileLang">
                                    Select file
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 px-md-1" style="margin-top: 2rem;">
                        <button class=" btn btn-fill btn-primary" [disabled]="!selectedPancardFile" type="button" (click)="uploadPancardImage()">Upload</button>
                    </div>
                    <div class="col-md-6 px-md-1" *ngIf="selectedPancardFile">
                        <img [src]="pancardUrl" height="200"> <br />
                    </div>
                    <div class="col-md-6 px-md-1" *ngIf="!selectedPancardFile && this.employeeData.pancardFilePath">
                        <img src="{{getPancardImagePath(this.employeeData.pancardFilePath)}}" height="200"> <br />
                    </div>
                </div>


            </div>
            <div class=" card-footer">
               
                <button class=" btn btn-fill btn-success" type="submit" *ngIf="headerName == 'Update'"
                [disabled]="this.editEmployeeForm.invalid && !pancardFileUploaded && !aadharFileUploaded">{{this.headerName}}</button>
                <button class=" btn btn-fill btn-success" type="submit" *ngIf="headerName != 'Update'"
                    [disabled]="this.editEmployeeForm.invalid">{{this.headerName}}</button>
                <button class=" btn btn-fill btn-danger" type="button" (click)="gotoBack()">Cancel</button>
            </div>
        </form>

    </div>


</div>