<div class=" main-content">
    <div class=" header bg-gradient-danger py-7 py-lg-8 pt-lg-9">
      <div class=" container">
        <div class=" header-body text-center mb-7">
          <div class=" row justify-content-center">
          </div>
        </div>
      </div>
  
      <div class="separator separator-bottom separator-skew zindex-100">
      </div>
    </div>
  
    <div class=" container mt--8 pb-5">
      <div class=" row justify-content-center">
        <div class=" col-lg-5 col-md-7">
          <div class=" card bg-secondary border-0 mb-0">
            <div class=" card-body px-lg-5 py-lg-5">
              <div class=" text-center text-muted mb-4">
                <small> Sign in with credentials </small>
              </div>
  
              <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div
                  class="form-group mb-3"
                  [ngClass]="{ focused: focus === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-circle-08"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="User Name"
                      type="text"
                      formControlName="username"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-mobile-button"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Mobile"
                      type="tel"
                      formControlName="mobile"
                      maxlength="10"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4" [disabled]="!loginForm.valid">
                    Sign in
                  </button>
                </div>
              </form>
            </div>
          </div>
  
          <div class=" row mt-3">
            <div class=" col-6">
            </div>
  
            <div class=" col-6 text-right">
              <a class=" text-light" href="javascript:void(0)">
                <small> Forgot password? </small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  